@model IEnumerable<WebApp.Models.Movie>

@{
    ViewData["Title"] = "Search";
}

<h1>Index</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Go</button>
        </form>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="myTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runtime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int sn = 1;
        }
        @foreach (var item in Model)
        {

            <tr>
                <td>@sn</td>
                @{
                    sn++;
                }
                <td>
                    <img decoding="async" src="@("~/uploads/"+item.PosterURL)" asp-append-version="true" width="50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate,"{0:d}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Runtime)min
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

}